<div class="vent-index">
  <h2>
    Vent.it is the best place to speak your mind<br>
    and talk with others about what's on theirs!<br><br>
    Need to vent? Let the therapy begin!
  </h2>
  <%= render 'form' %>
</div>

<div class="read-vents">
  <h4><a href="#now-venting">Read More Vents</a></h4>
  <a href="#now-venting">
    <div class="arrow-down"></div>
  </a>
</div>

<div id="now-venting">
  <h1>NOW VENTING</h1>

  <% @vents.reverse_each do |vent| %>
    <div id="vent">
      <div class="main-vent-name"><%= vent.name %> vented...</div>
      <div class="main-vent-body">"<%= vent.body %>"</div>
      <div class="main-vent-response"><%= link_to "Add / View Responses", vent_path(vent) %></div>
    </div>
  <% end %>
</div>
