<div class="add-response">
  <%= form_for [@vent, @response] do |f| %>

    <div>
      <%= f.text_field :name, class: "response-text-field", :placeholder => "Enter Name" %>
    </div>

    <div>
      <%= f.text_area :body, class: "response-text-area", :placeholder => "Enter Response" %>
    </div>

    <%= f.submit class: "response-submit-button" %>
  <% end %>
</div>
