/*
 *= require_tree .
 *= require_self
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'helvetica', sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 1em;
}

header {
  width: 100%;
  background-color: white;
  padding-top: 10px;
}

h1, h2 {
  color: #666;
}

#top-menu {
  margin: 20px;
  height: 45px;
}

#top-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00adef;
  font-size: 1.2em;
  font-weight: bold;
  border: 3px solid #00adef;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}

.vent-text-field, .response-text-field {
  border: 3px solid #00adef;
  width: 210px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 13px;
  margin-top: 20px;
}

.vent-text-area, .response-text-area {
  border: 3px solid #00adef;
  width: 450px;
  height: 150px;
  margin: 10px auto;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

.response-body {
  background-color: white;
  width: 450px;
  height: 100px;
  margin: 10px auto;
  padding: 5px;
  font-size: 1.3em;
  font-weight: bold;
}

.form-vent-submit-button, .response-submit-button {
  border: none;
  cursor: pointer;
  background-color: #00adef;
  color: white;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-vent-body {
  width: 450px;
  font-size: 1em;
  font-weight: bold;
  color: #666;
  margin: 0 auto;
}

#now-venting {
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  width: 65%;
}

.vent-index {
  margin: 50px 0px 20px 0px;
}

.form-vent-name {
  display: inline-block;
}

.form-vent-taggings {
  display: inline-block;
}

.read-vents h4, a {
  width: 200px;
  margin: 50px auto;
  margin-bottom: 10px;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
}

.read-responses {
  border-top: 1px solid #666;
  color: #666;
}

.read-responses .response-body {
  padding-top: 20px;
}

.read-responses p {
  font-size: 1.2em;
  font-weight: bold;
}

.response-form {
  color: #666;
}

.response-form h2 {
  margin: 30px 0px 0px 0px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  border-top: 35px solid #00adef;
  margin: 0 auto;
}

.main-vent-name {
  font-size: 1.6em;
  text-transform: capitalize;
  text-align: center;
}

.main-vent-body {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.main-vent-response {
  text-align: right;
  margin: 10px 10px 40px 0px;
}

#vent {
  background-color: #00adef;
  color: white;
  margin: 20px auto;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
  padding: 5px;
}

.vent-body {
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  min-height: 100px;
  margin: 40px auto;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #666;
}

.vent-name {
  text-transform: capitalize;
  margin-top: 40px;
}

.vent-show-wrapper {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.edit-vent, .delete-vent {
  text-align: right;
  display: inline;
  margin: 0 10px;
}

.main-tag-name {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}

.tag-vent-name {
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
}

.tag-vent-body {
  color: #666;
  font-size: 1.6em;
  font-weight: bold;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 65%;
  margin: 0px auto;
  margin-bottom: 30px;
}
