/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'helvetica', sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 1em;
}

header {
  width: 100%;
  background-color: white;
  padding-top: 10px;
}

h2 {
  color: #666;
}

#top-menu {
  margin: 20px;
  height: 45px;
}

#top-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00adef;
  font-size: 1.2em;
  font-weight: bold;
  border: 3px solid #00adef;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}

.vent-text-field {
  border: 3px solid #00adef;
  width: 210px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px 13px;
}

.vent-text-area {
  border: 3px solid #00adef;
  width: 450px;
  height: 150px;
  margin: 10px auto;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

.vent-submit-button {
  border: none;
  cursor: pointer;
  background-color: #00adef;
  color: white;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.vent-body {
  width: 450px;
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
  margin: 0 auto;
}

.now-venting {
  margin: 40px auto;
  padding: 20px;
}

.vent-index {
  margin: 50px 0px 20px 0px;
}

.vent-name {
  display: inline-block;
}

.vent-mood {
  display: inline-block;
}
