<!DOCTYPE html>
<html>
<head>
  <title>VENT.it</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div id="logo">
          <a href="/"><img src="/assets/vent-it-logo.png" alt="Vent.it Logo"/></a>
        </div>
    </header>

    <nav>
        <div class="top-menu">
        </div>
    </nav>

    <section class="main">

    </section>


<%= yield %>

    <footer>

    </footer>

</body>
</html>
